body{
    margin: 0;
    padding: 0;
}

.firstBox {
    margin: 25px;
    border: solid;
    border-color: #000;
    height: 15vh;
}

.dottedBox {
    height: 30vh;
    border: dotted;
    border-color: #000;
    margin: 0 20px;
}

.letterOutline {
    height: 40vh;
    width: 50vw;
    border: solid;
    border-color: #3b3b3b4f;
    margin: 20px auto;
    align-content: center;
    position: relative;
}

.text {
    color: blue;
    margin: auto;
    letter-spacing: 10px;
    text-align: center;
    top: 35%;
    position: absolute;
    left: 15%;
    height: 30%;
    font-size: 36px;
    max-width: 70%;
}
.purpleSquare {
    height: 75%;
    width: 30px;
    background-color: rgb(116, 32, 185);
    margin: 25px 10px 0 10px;
    display: inline-block;
}
.greenSquare {
    background-color: green;
    height: 85%;
    width: 300px;
    display: inline-block;
}
.blueCircle {
    height: 120px;
    width: 120px;
    background-color: paleturquoise;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0 0 30px;
}
.paleSquare {
    height: 60%;
    width: 80%;
    background-color: palegoldenrod;
    margin: 8.5% auto;
    box-shadow: 5px 10px 5px #888
    
}